services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      MQTT_BROKER_URL: ${BROKER_URL}
      MQTT_CLIENT_ID: ${CLIENT_ID}
      MQTT_CA_CERTIFICATE_PATH: ${CA_CERT_PATH}
      MQTT_CLIENT_CERTIFICATE_PATH: ${DEVICE_CERT_PATH}
      MQTT_CLIENT_PRIVATE_KEY_PATH: ${DEVICE_KEY_PATH}
      AWS_IOT_REGION: ${AWS_IOT_REGION}
      AWS_IOT_ACCOUNT_ID: ${AWS_IOT_ACCOUNT_ID}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      SUPERADMIN_USERNAME: ${SUPERADMIN_USERNAME}
      SUPERADMIN_PASSWORD: ${SUPERADMIN_PASSWORD}
      SUPERADMIN_COMPANY_NAME: ${SUPERADMIN_COMPANY_NAME}
      SUPERADMIN_COMPANY_TIN: ${SUPERADMIN_COMPANY_TIN}
      API_KEY_SECRET: ${API_KEY_SECRET}
    volumes:
      - ./certs:/certs

volumes:
  postgres_data:
